.root,
#root,
#docs-root {
  --primary: #25adaf;
  --secondary: #296364;
  --accent: #718096;
  --background: #fff;
  --main: #1a1417;
  --header: #2d3748;
}

#menu-toggle:checked + #menu {
  display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/400-regular.woff) format('woff');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(/fonts/proxima-nova/500-medium.woff) format('woff');
  }
}
